:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  position: relative;
  bottom: 0%;
}

header {
  display: flex;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

hr {
  margin-bottom: 5%;
}

.headtitle {
  flex: 2;
  font-size: 3.5em;
  position: relative;
  top: 0
}

.horizontal_list {
  list-style-type: none;
  float: right;
}

.horizontal_nav {
  border-radius: 10px;
  list-style-type: none;
  position: fixed;
  top: 3%;
  right: 5%;
}

.horizontal_a {
  text-decoration: none;
  font-size: 25px;
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
}

.horizontal_a:hover {
  background-color: black;

}

/** Css styling for card components **/
.group-card {
  margin-left: 5%;
  margin-right: 5%;
}

.card {
  border-radius: 10%;
  border: 1px solid lightgrey;
  background-color: grey;
  padding: 30px;
  margin: 20px;
  text-align: center;
  max-width: 300px;
  min-height: 300px;
  max-height: 400px;
  box-shadow: 5px 3px 10px black;
  display: inline-block;
}

.card-title {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.card-text {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.card-image {
  min-height: 110px;
  min-width: 110px;
  max-width: 120px;
  max-height: 120px;
}

.createACCUI {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  text-align: center;
  font: "Helvetica Neue";
  width: 350px;
}

.signup_form_style {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border: 3px solid grey;
  border-radius: 7px;
  padding: 10px;
  font-size: 20px;
}

.signup_form_style #input_signup {
  margin: 10px;
  height: 40px;
  font-size: 20px;
  background-color: rgb(78, 78, 78);
}

.signup_form_style #signup_button {
  padding: 10px;
  margin: 15px;
  font-size: 20px;
  border-radius: 10px;
}

.signup_form_style #signup_button:hover {
  background-color: rgb(57, 57, 57);
  padding: 10px;
  margin: 15px;
  font-size: 20px;
  border-radius: 10px;
}

.login_UI {
  display: flex;
  border-style: solid;
  border: 3px solid grey;
  border-radius: 7px;
  flex-direction: column;
  margin-top: 100px;
  margin: auto;
  text-align: center;
  width: 350px;
  font-size: 20px;
}

.login_title {
  text-align: center;
  font-size: 40px;
}

.login_input {
  margin: 20px;
  height: 40px;
  text-align: center;

}

.login_label {
  margin-top: 10px;
}

.login_button {
  margin: 15px;
  height: 40px;
  font-size: 20px;
}

.login_info {
  margin: 15px;
  text-align: center;
  font-size: 20px;
}